{% extends "header.html" %}
{% block header %}歡迎光臨，請輸入帳號密碼{% endblock %}
{% block main %}
<main>
    <div class="login-container">
        <div class="login-label">登入系統</div>
        <form action="/signin" method="post" class="login-form">
            <div class="username-wrapper">
                <label for="username">帳號</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="password-wrapper">
                <label for="password">密碼</label>
                <input type="text" id="password" name="password">
            </div>
            <div class="inform-wrapper">
                <label for="accept">同意條款</label>
                <input type="checkbox" id="accept" name="accept">
            </div>
            <button>登入</button>

        </form>
    </div>
</main>
{% endblock %}