* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

html {
    font-size: 62.5%;
}

.header {
    height: 8rem;
    background-color: #23303e;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.login-container{
    text-align: center;
}

.login-label{
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.name-wrapper {
    margin-bottom: .7rem;
}

.name-wrapper > label{
    font-size: 1.5rem
}

.username-wrapper {
    margin-bottom: .7rem;
}

.username-wrapper > label{
    font-size: 1.5rem
}

.password-wrapper {
    margin-bottom: .7rem;
}

.password-wrapper > label{
    font-size: 1.5rem
}

.login-container button{
    padding: .5rem;
    margin-bottom: 2rem;
}

.welcome-text{
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.message-wrapper {
    text-align: center;
    margin-top: 2rem;
}

.message-title{
    font-size: 2rem;
    font-weight: bold;

}

.message-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message-wrapper label{
    font-size: 1.5rem;
}

.message-wrapper div {
    margin-top: .7rem;
}

.message-wrapper button {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: .5rem;
}

.messages-container {
    text-align: center;
    margin-top: 2rem;
}

.message-with-btn {
    display: flex;
    justify-content: center;
    align-items: center;

}

.message-with-btn > p {
    padding: .5rem;
}

.message-with-btn > button {
    padding: .3rem
}

.message-name {
    font-size: 1.7rem;
    font-weight: bold;
}

.message-content {
    font-size: 1.5rem;
}

.hr {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.query-user-name-wrapper {
    text-align: center;
    margin-bottom: 2rem;
}

.query-user-name-title{
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.query-username-result {
    font-size: 2rem
}

.update-username-wrapper{
    text-align: center;
    margin-bottom: 2rem;
}

.update-username-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.update-username-result {
    font-size: 2rem;
    margin-bottom: 2rem;
}