{% extends "header.html" %}

{% block header %}
{% if success_message is defined %}
歡迎光臨，這是會員頁
{% else %}
失敗頁面
{% endif %}
{% endblock %}
{% block main %}
<main>
    <div class="welcome-text">
        {% if success_message is defined %}
        {{success_message}}
        {% else %}
        {{failed_text}}
        {% endif %}
    </div>
    <div class="signout-wrapper">
        <a href="/signout">
            {% if success_message is defined %}
            登出系統
            {% else %}
            返回首頁
            {% endif %}
        </a>
    </div>
    {% if success_message is defined %}
    <hr>
    <div class="message-wrapper">
        <div class="message-title">快來留言吧</div>
        <form action="/createMessage" , method="post" class="message-form">
            <div>
                <label>內容</label>
                <input type="text" id="message" , name="message">
            </div>
            <button class="message-submit-btn">送出</button>
        </form>
    </div>
    <hr>
    <div class="messages-container">
        {% for message in messages %}
        <div class="message-with-btn" data-id={{message.0}}>
            <p><span class="message-name">{{message.1}}: </span><span class="message-content">{{message.2}}</span>
            </p>
            {% if message.4 == userid %}
            <button class="delete-btn">X</button>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    <hr class="hr">
    <div class="query-user-name-wrapper">
        <div class="query-user-name-title">查詢會員姓名</div>
        <input type="text" class="query-username">
        <button class="query-username-btn">查詢</button>
        <div class="query-username-result"></div>
    </div>
    <hr class="hr">
    <div class="update-username-wrapper">
        <div class="update-username-title">更新我的姓名</div>
        <input type="text" class="update-username">
        <button class="update-username-btn">更新</button>
        <div class="update-username-result"></div>
    </div>
    {% endif %}

</main>
{% endblock %}